.locations--grid {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 8px;
}


@media screen and (min-width: 40em) and (max-width: 63.9em){
    .locations--grid {
        
      display: grid;
      margin: 16px;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
    }
    .locations-detail{
      left: 50%;
    }
  }
  
  
  @media screen and (min-width: 64em){
    .locations--grid {
      display: grid;
      margin: 16px;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 20px;
    }
    .locations-detail{
      left: 75%;
    }
  }
  