<div class="location--card">
    <div class="location--card-tilte">
        Name:
    </div>
    <div>
        {{location.name }}
    </div>       
    <div class="location--card-tilte">
        Type:
    </div>
    <div>
        {{location.type }}
    </div>   
    <div class="location--card-tilte">
        Dimension:
    </div>
    <div>
        {{location.dimension }}
    </div>  
    <div class="location--card-tilte">
        Residents:
    </div>
    <div>       
        {{location.residents}}
        <!-- ProximamenteLink -->

        <!-- (e=> e.replace(/o/g, '0').replace(/i/g,1)); -->
    </div>        
</div>
