<div class="location--card">
    <div class="location--card-tilte">
        Name:
    </div>
    <div>
        {{episode.name }}
    </div>       
    <div class="location--card-tilte">
        Air Date:
    </div>
    <div>
        {{episode.air_date }}
    </div>   
    <div class="location--card-tilte">
        Episode code:
    </div>
    <div>
        {{episode.episode }}
    </div>  
    <div class="location--card-tilte">
        Characters:
    </div>
    <div>       
        
        <!-- ProximamenteLink -->
        <!-- <li><a  routerLink="/Characters/{{location.residents}}">Locations</a></li> -->
        <!-- (e=> e.replace(/o/g, '0').replace(/i/g,1)); -->
    </div>        
</div>

<!-- id: 0,
name: '',
air_date:     '',
episode:    '',
characters :      [],
url: '',
created: '', -->