

<div class="profile-character">
    <div class="character-name">
        <h1> {{character.name}} </h1>
        <div class="character-image">
            <img [src]="character.image" alt="" class="character-logo">
        </div>        
    </div>
    <p>Basic Information</p>
    <div class="character-information">
        <label for="">Status:</label>
        <p>{{character.status}}</p>
        <label for="">Specie:</label>
        <p>{{character.species}}</p>
        <label for="">Type:</label>
        <p>{{character.type}}</p>
        <label for="">Gender:</label>
        <p>{{character.gender}}</p>
    </div>
</div>
