

<div class="profile-character">
    <div class="character-name">
        <h1> {{character.name}} </h1>
    </div>
    <div class="character-image">
        <img [src]="character.image" alt="" class="character-logo">
    </div>        
    
    <p class="basic-information">Basic Information</p>
    <div class="character-information">
        <div class="character-information--left">
            <p>Specie:</p>
            <p>Origin:</p>
        </div>
        <div class="character-information--right">
            <p>{{character.species}}</p>
            <p>{{character.origin?.name}}</p>
           
        </div>
    </div>
    <div>
        <button class="button-moreInformation" (click)="onShowCharacterDetail()">More Information...</button>
    </div>  
</div>
