

<div class="profile-character">
    <div class="character-name">
        <h1> {{character.name}} </h1>
    </div>
    <div class="character-image">
        <img [src]="character.image" alt="" class="character-logo">
    </div>        
    
    <p class="basic-information">Basic Information</p>
    <div class="character-information">
        <div class="character-information--left">
            <p>Status:</p>
            <p>Specie:</p>
            <p>Type:</p>
            <p>Gender:</p>
        </div>
        <div class="character-information--right">
            <p>{{character.status}}</p>
            <p>{{character.species}}</p>
            <p>{{character.type}}</p>        
            <p>{{character.gender}}</p>
        </div>
             
    </div>
    <div>
        <button class="button-moreInformation">More Information...</button>
    </div>  
</div>
